<h2>User Information</h2>
<input class = "firstName" placeholder = "First Name">
<input class = "lastName" placeholder = "Last Name">
<input class = "address" placeholder = "Address">
<input class = "phoneNumber" placeholder = "Phone Number">
<input class = "form-submit-button" type = "submit">
